appdirs==1.4.3
catfish==1.4.2
docopt==0.6.2
gpg==1.9.0
gufw==17.4.1
gunicorn==19.7.1
keyutils==0.4
lightdm-gtk-greeter-settings==1.2.1
louis==3.0.0
menulibre==2.1.3
mugshot==0.3.2
npyscreen==4.10.5
olefile==0.43
packaging==16.8
pacman-mirrors==4.0.4
pbr==3.0.0
pexpect==4.2.1
Pillow==4.1.0
psutil==5.2.1
ptyprocess==0.5.1
pygobject==3.22.0
pyparsing==2.2.0
python-distutils-extra==2.39
python-sane==2.8.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
six==1.10.0
stevedore==1.21.0
team==1.0
udiskie==1.7.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
